<section class="footer" style="background-color: rgb(229, 229, 229);">
    <div class="box-container">
      <div class="box">
        <h3>Có mặt tại</h3>
        <a href=""><i class="fas fa-map-marker-alt"></i>VietNam</a>
      </div>

      <div class="box">
        <h3>Quick links</h3>
        <a href="/dashboard"><i class="fas fa-arrow-right"></i>Trang chủ</a>
        <a href="/dashboard/book"><i class="fas fa-arrow-right"></i>Sách</a>
      </div>

      <div class="box">
        <h3>Thông tin liên hệ</h3>
        <a href=""><i class="fas fa-envelope"></i>nguyenminhgiabao2501@gmail.com</a>
        <a href=""><i class="fas fa-envelope"></i>hahuynhduchuy@gmail.com</a>
        <a href=""><i class="fas fa-envelope"></i>vinhkhangquach2002@gmail.com</a>
      </div>
    </div>
  </section>