<header class="header">
    <div class="header-1">
        <a href="/dashboard" class="logo" style="text-decoration: none;"><i class="fas fa-book"> SÁCH </i></a>
        <div class="navbar">
            <a href="/dashboard" style="text-decoration: none;">Trang chủ</a>
            <a href="/dashboard/book" style="text-decoration: none;">Sách</a>
           
        </div>

        <div class="icons">
            <a href="/order/cart" class="fas fa-shopping-cart" style="text-decoration: none;"></a>
            <a href="/access/signin" class="fas fa-user" style="text-decoration: none;"></a>
        </div>
    </div>
</header>