<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cửa hàng bán sách</title>
    <link rel="stylesheet" href="/css/cart.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="/css/book.css">
  </head>
  <body style="background-color: #f3f3f3;">
    
    <%- include('partials/header') %>

    <div class="wrapper">
      <h1>Giỏ hàng</h1>
      <div class="project">
        <div class="shop">
          <div class="box">
            <img src="images/book-1.png" />
            <div class="content">
              <h3>Đắc Nhân Tâm</h3>
              <h4>Giá: 9.99 USD</h4>
              <p class="unit">Số lượng mua: <input name="" value="2" /></p>
              <p class="btn-area">
                <i aria-hidden="true" class="fa fa-trash"></i>
                <span class="btn2">Hủy</span>
              </p>
            </div>
          </div>
          <div class="box">
            <img src="images/book-1.png" />
            <div class="content">
              <h3>Nhà Giả Kim</h3>
              <h4>Giá: 9.99 USD</h4>
              <p class="unit">Số lượng mua: <input name="" value="1" /></p>
              <div class="quantity">
                <input type="number" min="1" step="1" value="1">
              </div>
              <p class="btn-area">
                <i aria-hidden="true" class="fa fa-trash"></i>
                <span class="btn2">Hủy</span>
              </p>
            </div>
          </div>
          <div class="box">
            <img src="images/book-1.png" />
            <div class="content">
              <h3>Cách nghĩ để thành công</h3>
              <h4>Giá: 19.99 USD</h4>
              <p class="unit">Quantity: <input name="" value="0" /></p>
              <p class="btn-area">
                <i aria-hidden="true" class="fa fa-trash"></i>
                <span class="btn2">Hủy</span>
              </p>
            </div>
          </div>
        </div>
        <div class="right-bar">
          <p><span>Tổng </span> <span>171 USD</span></p>
          <a href="#"><i class="fa fa-shopping-cart"></i>Đặt hàng</a>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="/scripts/cart.js"></script>
  </body>
</html>
